<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Page</title>
</head>
<body>
    <h1>Hello, {{ name }}</h1>
    <h3>Add to Cart</h3>
    <form action="/order" method = "POST">
        Product: <input type="text" name="product" />
        <br/><br/>
        Quantity: <input type = "text" name = "quantity" />
        <br/><br/>
        <button>Add</button>
    </form>
    <br/><br/><br/>
    <h3>Product List</h3>
    <div>{{ products }}</div>
    <br/><br/><br/>
    <h3>Your Order</h3>
    <div>{{ order }}</div>
</body>
</html>